/* Home Page */
.logo {
    margin-left: 30px;
}

.location-details {
    color: red;
    border-color: red;
    background-color: rgb(151, 151, 151);
}

.b-map {
    border: none;
    object-position: relative;
    margin-left: 90px;
}


.booking-details {
    height: 400px;
    width: 400px;
    background-color: lightgrey;
    text-align: center;
    padding: 50px;
    margin-top: 20px;
    margin-bottom: 20px;
}

.explore-button {
    height: 50px;
    width: 250px;
    border-radius: 25px;
    background-color: plum;
    border-color: plum;
    font-size: large;
    color: white;
    position: relative;
    top: 100px;
    transform: scale(1);
    transition: transform 400ms;
}

.explore-button:hover {
    transform: scale(1.15);
}

.heading-text {
padding-left: 40px;
}

.works-button {
    display: flex;
    flex: column;
    height: 50px;
    width: 400px;
    border-radius: 15px;
    border-color:  rgb(214, 214, 214);
    background-color: rgb(214, 214, 214);
    align-items: center;
    padding-left: 50px;
    margin-top: 10px;
    margin-bottom: 10px;
    margin-left: 20px;
    font-weight: 800;
}

.works-button:hover {
    background-color: lightskyblue;
}

.works-number {
    height: 25px;
    width: 25px;
    color:white;
    background-color: plum;
    border-radius: 50px;
    position: relative;
    left: -58px;
    font-size: medium;
}

.fa-mobile-screen {
    color: red;
    margin-right: 50px;
}

.fa-bars {
    color: red;
    margin-right: 50px;
}

.fa-store {
    color: red;
    margin-right: 50px;
}

.rest-card {
    width: 400px;
    height: 350px;
    border-radius: 20px;
    box-shadow: 0 0 5px 1px #dfdede;
    background-color: white;
    margin-top: 10px;
    margin-bottom: 10px;
    font-size: large;
    text-decoration: none;
}

.card-body {
    position: relative;
    left: 20px;
    top: -10px;
}

.rest-img {
    width: 400px;
    height: 250px;
    border-top-left-radius: 20px;
    border-top-right-radius: 20px;
}

.rest-heart {
    position: relative;
    left: 350px;
    top: -40px;
    color:black;
}

/* .rest-heart:hover {
    color: rgb(207, 68, 207);
    fill: rgb(207, 68, 207);
} */

.rest-head{
    text-decoration: none;
}


.footer {
    background-color: rgb(77, 77, 77);
    padding-bottom: 40px;
    width: 500px;
}

.footer-text {
    color: white;
}

.footer-rest {
    background-color: rgb(77, 77, 77);
    padding-bottom: 40px;
    width: 500px;
    position: relative;
    top: -50px;
}

/* Restaurant pages */


.nav-header {
    display: flex;
    flex-direction: row;
}

.fa-arrow-left {
    position: relative;
    left: 20px;
    top: 10px;
    font-size: 30px;
    text-decoration: none;
}

.head-logo {
    position: relative;
    left: 80px;
    top: 0px;
    width: 200px;
    height: 50px;
    object-fit: contain;
}

.rest-img-2 {
    position: relative;
    width: 500px;
    height: 350px;
}

.rest-title {
    position: relative;
    left: 40px;
    top: 20px;
    font-weight: 800;
}

.title-heart {
    position: relative;
    left: 200px;
    font-size: 20px;
    transform: scale(1);
    transition: transform 300ms;
}

.title-heart:hover {
    transform: scale(1.5);
    background-color: blueviolet;
}

.title-heart:active {
    color: blue;
}

.menu-list {
    background-color: lightgrey;
    border-top-left-radius: 25px;
    border-top-right-radius: 25px;
    width: 500px;
    position: relative;
    top: -50px;
}

.dish-details {
    width: 400px;
    height: 100px;
    margin-left: 30px;
    border-radius: 20px;
    box-shadow: 0 0 5px 1px #dfdede;
    background-color: white;
}


.dish-course-title {
    position: relative;
    top: 10px;
    left: 40px;
    height: 30px;
    width: 80px;
    font-weight: 200;
    border-bottom: 4px solid aquamarine;
}

.dish-text-head {
    width: 350px;
    position: relative;
    top: 20px;
    left: 30px;
    font-size: 20px;
}

.dish-text-sub {
    position: relative;
    /* top: 10px; */
    left: 30px;
    font-weight: 100;
}


.dish-prices {
    position: relative;
    left: 350px;
    top: -40px;
    font-size: larger;
}

.order-button {
    width: 200px;
    height: 50px;
    border-radius: 25px;
    background-color: plum;
    border-color: plum;
    font-size: large;
    color: white;
    position: relative;
    left: 130px;
    margin-top: 30px;
    margin-bottom: 70px;
    transform: scale(1);
    transition: transform 300ms;
}

.order-button:hover {
    transform: scale(1.5);
}

.foot-logo {
    position: relative;
    left: 40px;
    width: 150px;
    height: 50px;
    margin-top: 20px;
    object-fit: contain;
    list-style: none;
    filter: invert(100%);
}

.foot-list {
    list-style: none;
    text-decoration: none;
    color: white;
}

.fa-utensils {
    margin-right: 16px;
}

.fa-handshake-angle {
    margin-right: 10px;
}