body {
  margin-left: 0px;
  margin-right: 0px;
  box-sizing:border-box;
}

.logo {
  width: 90px;
}

.home-logo {
  position: relative;
  left: 90px;
  top: 0px;
  width: 200px;
  height: 50px;
  object-fit: contain;
  @media screen and (min-width: 800px){
    left: 750px;
    width: 400px;
    height: 200px;
  }
}
  .location-details {
    position: relative;
    height: 50px;
    background-color: lightgray;
    width: 100%;
  }
  
  .b-map {
    border: none;
    background: none;
    position: relative;
    left: 20px;
    top: 15px;
    margin-left: 90px;
    @media screen and (min-width: 800px){
      left: 750px;
    }
  }
  
  .location-text {
    position: relative;
    left: 20px;
    top:15px;
    font-weight: 900;
    border: none;
    background:none;
    font-family: "Roboto";
    &:focus{
      background: white;
      color:black;
    }
    @media screen and (min-width: 800px){
      left: 750px;
    }
  }
  ::placeholder { 
    color: black;
  }

  .booking-details {
    position: relative;
    height: 400px;
    width: 100%;
    background-color: rgb(231, 231, 231);
    text-align: center;
    padding-top: 50px;
    padding-bottom: 50px;
    margin-bottom: 20px;
    font-family: "Roboto";
    @media screen and (min-width: 800px){
      width: 100%;
      height: 200px;
    }
  }
  
  .book-text {
    position: relative;
    left:-40px;
    font-family: "Roboto";
    margin-left: 80px;
    @media screen and (min-width: 800px){
      left: -50px;
      margin-left: 0px;
    }
  }

  .discover-text {
    position: relative;
    left: -20px;
    font-size: 20px;
    width: 80%;
    margin-left: 50px;
    font-family: "Roboto";
    @media screen and (min-width: 800px){
      left:150px;
      margin-left: 0px;
    }
  }

  .explore-button {
    height: 50px;
    width: 250px;
    border-radius: 25px;
    background: rgb(147,86,220);
    background: linear-gradient(0deg, rgba(147,86,220,1) 35%, rgba(255,121,218,1) 100%);
    border: none;
    font-size: large;
    color: white;
    position: relative;
    top: 100px;
    left:-50px;
    margin-left: 100px;
    transform: scale(1);
    transition: transform 400ms;
  
    &:hover {
      transform: scale(1.15);
      cursor: pointer;
    }
    @media screen and (min-width: 800px){
      top:40px;
      left: -50px;
      margin-left: 0px;
    }
  }
  
  .heading-text {
    padding-left: 40px;
    font-family: "Roboto";
  }
  
  .how-it-works {
    display: flex;
    flex-direction: column;
    @media screen and (min-width: 800px){
      flex-flow: row wrap;
    }
  }

  .works-button {
    display: flex;
    flex: column;
    height: 50px;
    width: 90%;
    border-radius: 15px;
    border-color: rgb(214, 214, 214);
    background-color: rgb(214, 214, 214);
    align-items: center;
    padding-left: 50px;
    margin-top: 10px;
    margin-bottom: 10px;
    margin-left: 20px;
    font-weight: 800;
  
    &:hover {
      background-color: lightskyblue;
    }
    @media screen and (min-width: 800px){
      width: 550px;
      margin-right: 10px;
    }
  }
  
  .works-number-circle {
    position: relative;
    top: -48px;
    left: 10px;
    height: 25px;
    width: 25px;
    color: white;
    background-color: #9356DC ;
    border-radius: 50px;
    @media screen and (min-width: 800px){
      position: relative;
      left: -570px;
      top: 20px;
    }
  }
  
.works-number {
  position: relative;
  top: -70px;
  left: -165px;
  color: white;
  font-family: "roboto";
  font-size: medium;
  text-align: center;
  @media screen and (min-width: 800px){
    position: relative;
    top:23px;
    left: -587px;
  }
}

  .fa-mobile-screen, .fa-bars, .fa-store {
    color: red;
    margin-right: 10px;
    position: relative;
    left: -20px;
    @media screen and (min-width: 800px){
      margin-right: 50px;
      margin-left: 0px;
      left: 0px;
    }
  }
  
  .restaurants {
    margin-left: 20px;
    display: flex;
    flex-flow: column;
    @media screen and (min-width: 800px){
      flex-flow: row wrap;
    }
  }

  .rest-card {
    width: 95%;
    height: 350px;
    border-radius: 20px;
    box-shadow: 0 0 5px 1px #dfdede;
    background-color: white;
    margin-top: 10px;
    margin-bottom: 10px;
    font-size: large;
    text-decoration: none;
    font-family: "Roboto";
    @media screen and (min-width: 800px){
      margin-right: 20px;
      width: 440px;
      height: 350px;
    }
  }
  
  .rest-card-link {
    text-decoration: none;
    color: black;
  }
  .card-body {
    position: relative;
    left: 20px;
    top: -10px;
    
  }
  
  .rest-img {
    width: 100%;
    height: 250px;
    border-top-left-radius: 20px;
    border-top-right-radius: 20px;
    @media screen and (min-width: 800px){
      width: 440px;
    }
  }
  
  .rest-heart {
    position: relative;
    left: 300px;
    top: -50px;
    color: black;
    font-size: 20px;
    transform: scale(1);
    transition: transform 300ms;
    &:hover{
      transform: scale(1.5);
      color: #9356DC;
      font-weight: bold;
      cursor: pointer;
    }
    @media screen and (min-width: 800px){
      left: 400px;
      top: -40px;
    }
  }
  
  .new-box {
    height: 24px;
    width: 60px;
    background-color: #99E2D0;
    font-family: "Roboto";
    text-align: center;
    position: absolute;
    top: -250px;
    right: 30px;
  }
  
  .rest-head {
    text-decoration: none;
    font-family: "Roboto";
  }
  
  .footer {
   
    background-color: rgb(77, 77, 77);
    padding-bottom: 40px;
    width: 100%;
    @media screen and (min-width: 800px){
      width: 100%;
    }
  }
  
  .footer-text {
    color: white;
    font-family: "Roboto";
  }
  
  .footer-rest {
    background-color: rgb(77, 77, 77);
    padding-bottom: 40px;
    width: 100%;
    position: relative;
    top: -50px;
    @media screen and (min-width: 800px){
      width: 100%;
    }
  }
  
  /* Restaurant pages */
  
  .nav-header {
    display: flex;
    flex-direction: row;
  }
  
  .fa-arrow-left {
    position: relative;
    left: 20px;
    top: 10px;
    font-size: 30px;
    text-decoration: none;
  }
  
  .head-logo {
    position: relative;
    left: 70px;
    top: 0px;
    width: 200px;
    height: 50px;
    object-fit: contain;
    @media screen and (min-width: 800px){
      left: 750px;
      top: 0px;
      width: 400px;
      height: 200px;
      margin-top: -50px;
    }
  }
  
  .rest-img-2 {
    position: relative;
    width: 100%;
    height: 350px;
    object-fit: fill;
    @media screen and (min-width: 800px){
      width: 100%;
      object-fit: cover;
    }
  }
  
  .rest-title {
    position: relative;
    width: 200px;
    left: 40px;
    top: 20px;
    font-weight: 400;
    font-family: "Shrikhand";
    @media screen and (min-width: 800px){
      width:500px;
    }
  }
  
  .title-heart {
    position: absolute;
    left: 250px;
    top: 10px;
    font-size: 20px;
    transform: scale(1);
    transition: transform 300ms;
  
    &:hover {
      transform: scale(1.5);
      color: #9356DC;
      font-weight: bold;
      cursor: pointer;
    }
  
    &:active {
      color: blue;
    }
    @media screen and (min-width: 800px){
      position: relative;
      left: 200px;
      }
  }
  
  .menu-list {
    background-color: lightgrey;
    border-top-left-radius: 25px;
    border-top-right-radius: 25px;
    width: 100%;
    position: relative;
    top: -100px;
    margin-bottom: -50px;
    @media screen and (min-width: 800px){
      width: 100%;
      top: -50px;
    }
  }
  
  .entrees {
    animation: 1s ease-out 0s 1 entrees;
    @media screen and (min-width: 800px){
      display:flex;
      flex-flow: row wrap;
    }
  }

  .main-course {
    animation: 1.1s ease-out 0s 1 main-course;
    @media screen and (min-width: 800px){
      display:flex;
      flex-flow: row wrap;
    }
  }

  .desert {
    animation: 1.2s ease-out 0s 1 desert;
    @media screen and (min-width: 800px){
      display:flex;
      flex-flow: row wrap;
    }
  }

  @keyframes entrees {
    0% {
        transform: translateX(-100%);
    }
    100% {
        transform: translateX(0);
    }
}
@keyframes main-course {
  0% {
      transform: translateX(-100%);
  }
  100% {
      transform: translateX(0);
  }
}
@keyframes desert {
  0% {
      transform: translateX(-100%);
  }
  100% {
      transform: translateX(0);
  }
}

  .dish-details {
    position: relative;
    width: 90%;
    height: 100px;
    margin-left: 20px;
    border-radius: 20px;
    box-shadow: 0 0 5px 1px #dfdede;
    background-color: white;
    &:hover .hidden-tick {
      transform-origin: right;
      transform: scaleX(1);
      transition: transform 500ms ease-in-out;
    }
    &:hover .dish-prices {
      transform: translateX(-70px);
    }
    &:hover .dish-text-sub {
      @media screen and (max-width: 800px){
        width: 200px;
        }
    

    }
    @media screen and (min-width: 800px){
      width: 600px;
      margin-bottom: 30px;
      margin-left: 30px;
    }
  }

  .dish-course-title {
    position: relative;
    top: 10px;
    left: 40px;
    height: 30px;
    width: 80px;
    font-weight: 200;
    border-bottom: 4px solid #99E2D0;
  }
  
  .dish-text-head {
    font-family: "Roboto";
    width: 350px;
    position: relative;
    top: 20px;
    left: 30px;
    font-size: 20px;
    overflow-wrap: break-word;
    @media screen and (min-width: 800px){
      top:-10px;
    }
  }
  
  .dish-text-sub {
    font-family: "Roboto";
    position: relative;
    left: 30px;
    width: 300px;
    height: 100px;
    font-weight: 100;
    text-overflow: ellipsis;
    overflow: hidden;
    white-space: nowrap;
    @media screen and (min-width: 800px){
      top:-10px;
      width: 100%;
    }
  }
  
  .dish-prices {
    position: absolute;
    width: 40px;
    right: 20px;
    top: 30px;
    font-size: larger;
    transition: transform 500ms ease-in-out;
    @media screen and (min-width: 800px){
      top: 20px;
      left: 540px;
    }
  }
  
  .hidden-tick {
    position: absolute;
    width: 80px;
    height: 100%;
    right: 0px;
    top: 0px;
    background-color: #99E2D0;
    border-top-right-radius: 20px;
    border-bottom-right-radius: 20px;
    transform-origin: right;
    transform: scaleX(0);
    transition: transform 300ms;
    @media screen and (min-width: 800px){
      top: 0px;
      left: 520px;
    }
  }

  .fa-circle-check {
    position: relative;
    left: 30px;
    top: 40px;
    height: 20px;
    width: 20px;
    object-fit: cover;
  }

  .order-button {
    width: 200px;
    height: 50px;
    border-radius: 25px;
    background: rgb(147,86,220);
    background: linear-gradient(0deg, rgba(147,86,220,1) 35%, rgba(255,121,218,1) 100%);
    border: none;
    font-size: large;
    color: white;
    position: relative;
    left: 25%;
    margin-top: 30px;
    margin-bottom: 70px;
    transform: scale(1);
    transition: transform 300ms;
  
    &:hover {
      transform: scale(1.2);
    }
    @media screen and (min-width: 800px){
      width: 400px;
      height: 80px;
      left: 700px;
    }
  }
  
  .foot-logo {
    position: relative;
    left: 40px;
    width: 150px;
    height: 50px;
    margin-top: 20px;
    object-fit: contain;
    list-style: none;
    filter: invert(100%);
  }
  
  .foot-list {
    list-style: none;
    text-decoration: none;
    color: white;
  }
  
  .fa-utensils {
    margin-right: 16px;
  }
  
  .fa-handshake-angle {
    margin-right: 10px;
  }

.office-toy {
  position: fixed;
  left: 100px;
  top: 200px;
  z-index: -1;
  opacity: 0;
  animation: 3s loader;
  @media screen and (min-width: 800px){
    position: fixed;
    left: 800px;
    top: 400px;
  }
  }


  .office-string {
    display: flex;
    flex-direction: row;
    position: relative;
    top: 0px;
    left: 15px;
  }
  
  .office-string-start {
    width: 2px;
    height: 80px;
    background-color: blue;
    margin-right: 28px;
     animation: 2s swing-left;
    transform-origin: center top;
      animation-iteration-count: infinite;
  }
  
  .office-string-mid {
    width: 2px;
    height: 80px;
    background-color: blue;
      margin-right: 28px;
  }
  
  .office-string-end {
    width: 2px;
    height: 80px;
    background-color: blue;
      margin-right: 30px;
    transform-origin: center top;
   animation: 2s swing-right;
    animation-delay: 1s;
      animation-iteration-count: infinite;
  }
  
  
  .office-balls {
    display: flex;
    position: relative;
    top: 0px;
    left: 0px;
  }
  
  .office-ball-start {
    width: 30px;
    height: 30px;
  background: rgb(0,0,255);
  background: linear-gradient(138deg, rgba(0,0,255,1) 35%, rgba(0,212,255,1) 100%);
    border-radius: 25px;
  animation: 2s swing-left;

      animation-iteration-count: infinite;
    transform-origin: center -80px;
  }
  
  .office-ball2 {
  width: 30px;
  height: 30px;
  background: rgb(0,0,255);
  background: linear-gradient(138deg, rgba(0,0,255,1) 35%, rgba(0,212,255,1) 100%);
  border-radius: 25px;
  }
  
  .office-ball-end {
  width: 30px;
  height: 30px;
  background: rgb(0,0,255);
  background: linear-gradient(138deg, rgba(0,0,255,1) 35%, rgba(0,212,255,1) 100%);
  border-radius: 25px;
    transform-origin: center -80px;
    animation: 2s swing-right;

     animation-delay: 1s;
      animation-iteration-count: infinite;
  }
  
  .office-line {
    height: 2px;
    width: 151px;
    background-color: blue;
    position: relative;
    top: -110px;
    left: 15px;
  }
  
  @keyframes swing-left {
      0% { transform: rotate(0deg); }
      25%{ transform: rotate(70deg); 
    animation-timing-function: ease-in-out;}
    50% { transform: rotate(0deg); }
    100% { transform: rotate(0deg); }
  }
  
  @keyframes swing-right {
      0% { transform: rotate(0deg); }
      25% { transform: rotate(-70deg);
    animation-timing-function: ease-in-out;}
      50% { transform: rotate(0deg); }
    100% { transform: rotate(0deg); }
  }

  .loading-screen {
    position: fixed;
    width: 100%;
    height: 100%;
    background-color: white;
    z-index: -1;
    opacity: 0;
    animation: 3s loader;
  }
  @keyframes loader {
    0% {z-index: 1;
      opacity: 0.9;}
    80% {z-index: 1;
      opacity: 0.9;}
    100% {z-index: 1;
      opacity: 0;}
  }